{% block nav %}
<!-- Parte Izquierda -->
<div class="col-2 m-0 p-0 border-light border-end" style="background: #25527B ; height: 100vh;">
    <!-- logo -->
    <div class="mb-2 text-center">
        <a href="/home"><img
            src="/img/logo.png"
            height="200"
            alt="MDB Logo"
            loading="lazy"
            />
        </a>
    </div>

    <!-- menu -->
    <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item" style="background: #25527B ;">
            <h2 class="accordion-header" id="headingOne" >
                <button class="accordion-button collapsed text-white-50" style="background: #25527B ;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <i class="fa-solid fa-users mx-2"></i>  Clientes
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body m-0 p-0">
                <!-- <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                    <div class="list-group list-group-flush">
                        <a href="/registrar-cliente" class="list-group-item list-group-item-action "> <i class="fa-solid fa-plus mx-3"></i> Registrar Cliente</a>
                        <a href="/mostrar-clientes" class="list-group-item list-group-item-action "><i class="fa-solid fa-list-ul mx-3"></i> Ver Clientes</a>
                        <a href="/historial-clientes" class="list-group-item list-group-item-action "><i class="fa-solid fa-address-book mx-3"></i>Historial de Clientes</a>
                        <!-- <a href="#" class="list-group-item list-group-item-action ">A third link item</a>
                        <a href="#" class="list-group-item list-group-item-action ">Cambiar Contraseña</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item" style="background: #25527B ;">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed text-white-50" style="background: #25527B ;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                     <i class="fa-solid fa-screwdriver-wrench mx-2"></i> Servicio de Reparaciones
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body m-0 p-0">
                    <!-- <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                    <div class="list-group list-group-flush">
                        <a href="/registrar-servicio" class="list-group-item list-group-item-action "><i class="fa-solid fa-mobile-screen-button mx-3"></i>Registrar Reparacion</a>
                        <a href="/mostrar-servicios" class="list-group-item list-group-item-action "><i class="fa-solid fa-list-ul mx-3"></i>Ver Reparaciones</a>
                        <!-- <a href="/pages/mostrar-entregas" class="list-group-item list-group-item-action "><i class="fa-solid fa-file-invoice-dollar mx-3"></i>Registro de Entregas</a> -->
                        <!-- <a href="#" class="list-group-item list-group-item-action ">A third link item</a>
                        <a href="#" class="list-group-item list-group-item-action ">Cambiar Contraseña</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item" style="background: #25527B ;">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed text-white-50" style="background: #25527B ;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <i class="fa-solid fa-money-check-dollar mx-2"></i> Pagos
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body m-0 p-0">
                    <!-- <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                    <div class="list-group list-group-flush">
                        <a href="/mostrar-pagos" class="list-group-item list-group-item-action "><i class="fa-solid fa-list-ul mx-3"></i>Ver Pagos</a>
                        <!-- <a href="mostrar-comprobante-entrega.html" class="list-group-item list-group-item-action "> <i class="fa-solid fa-file-arrow-up mx-3"></i> Entrega</a> -->
                        <!-- <a href="#" class="list-group-item list-group-item-action ">A third link item</a>
                        <a href="#" class="list-group-item list-group-item-action ">Cambiar Contraseña</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item" style="background: #25527B ;">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed text-white-50" style="background: #25527B ;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <i class="fa-solid fa-file mx-2"></i> Comprobantes
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body m-0 p-0">
                    <!-- <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                    <div class="list-group list-group-flush">
                        <!-- <a href="#" class="list-group-item list-group-item-action "><i class="fa-solid fa-list-ul mx-3"></i>Ver Comprobantes <i class="fa-solid fa-angle-right mx-2"></i></a> -->
                        <a href="/mostrar-comprobante" class="list-group-item list-group-item-action"> <i class="fa-solid fa-file-arrow-down mx-3"></i> Recepción Celular</a>
                        <a href="/mostrar-comprobante-entrega" class="list-group-item list-group-item-action"> <i class="fa-solid fa-file-arrow-up mx-3"></i> Entrega Celular</a>
                        <!-- <a href="#" class="list-group-item list-group-item-action ">A third link item</a>
                        <a href="#" class="list-group-item list-group-item-action ">Cambiar Contraseña</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item" style="background: #25527B ;">
            <h2 class="accordion-header" id="headingTree">
                <button class="accordion-button collapsed text-white-50" style="background: #25527B ;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTree" aria-expanded="false" aria-controls="collapseTree">
                    <i class="fa-solid fa-comment-dots mx-2"></i> Notificaciones
                </button>
            </h2>
            <div id="collapseTree" class="accordion-collapse collapse" aria-labelledby="headingTree" data-bs-parent="#accordionExample">
                <div class="accordion-body m-0 p-0">
                    <!-- <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                    <div class="list-group list-group-flush">
                        <a href="/mostrar-notificaciones" class="list-group-item list-group-item-action "><i class="fa-solid fa-list-ul mx-3"></i>Ver Notificaciones</a>
                        <!-- <a href="mostrar-comprobante-entrega.html" class="list-group-item list-group-item-action "> <i class="fa-solid fa-file-arrow-up mx-3"></i> Entrega</a> -->
                        <!-- <a href="#" class="list-group-item list-group-item-action ">A third link item</a>
                        <a href="#" class="list-group-item list-group-item-action ">Cambiar Contraseña</a> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="accordion-item" style="background: #25527B ;">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed text-white-50" style="background: #25527B ;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <i class="fa-solid fa-chart-line mx-2"></i> Informes (Beta)
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body m-0 p-0">
                    <!-- <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                    <div class="list-group list-group-flush">
                        <a href="/pages/informe-clientes" class="list-group-item list-group-item-action "><i class="fa-solid fa-face-grin-stars mx-3"></i>Top Clientes</a>
                        <a href="/pages/informe-pagos" class="list-group-item list-group-item-action "><i class="fa-solid fa-piggy-bank mx-3"></i>Resumen de Pagos</a>
                        <a href="/pages/informe-celulares" class="list-group-item list-group-item-action "><i class="fa-solid fa-heart-pulse mx-3"></i>Celulares Reparados</a>
                        <!-- <a href="mostrar-comprobante-entrega.html" class="list-group-item list-group-item-action "> <i class="fa-solid fa-file-arrow-up mx-3"></i> Entrega</a> -->
                        <!-- <a href="#" class="list-group-item list-group-item-action ">A third link item</a>
                        <a href="#" class="list-group-item list-group-item-action ">Cambiar Contraseña</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>

    </div>
</div>
{% endblock %}
