{% extends "base.html" %}

{% block estilos %} 

{% endblock %} 

{% block menu %}
<a class="nav-link text-white-50" aria-current="page" href="#">Inicio <i class="fa-solid fa-angle-right mx-2"></i> Servicio de Reparaciones <i class="fa-solid fa-angle-right mx-2"></i> Ver Reparaciones <i class="fa-solid fa-angle-right mx-2"></i> Modificar reparacion</a>

{% endblock %}

{% block content %}
<!-- Contenedor -->

  <div class="container my-3 bg-white " style="width: 95%; height: 86vh; border-radius: 15px; overflow-y: auto;">
      <h3 class="p-2">Modificar Servicio</h3>
        
        <hr class="dropdown-divider">
        <h5 class="">Datos del Cliente</h5>
        
        <div class="row mb-3">
          <div class="col">
            <label class="form-label">Nombre</label>
            <input value="{{service.name}}" type="text" class="form-control" disabled required>
          </div>
          <div class="col">
            <label class="form-label">Apellido</label>
            <input value="{{service.surname}}" type="text" class="form-control" disabled required>
          </div>
          <div class="col">
            <label class="form-label">DNI</label>
            <input value="{{service.dni}}" type="text" class="form-control" disabled required>
          </div>
          <div class="col">
            <label class="form-label">Número de Contacto</label>
            <input value="{{service.contact}}" type="text" class="form-control" disabled required>
          </div>
          <div class="col">
            <label class="form-label">Número de Respaldo</label>
            <input value="{{service.backup}}" type="text" class="form-control" disabled required>
          </div>
        </div>

        <hr class="dropdown-divider">
        <form action="/editar-servicio/{{service.idService}}" method="post" class="m-2">
          <h5 class="">Datos Celular</h5>
          <input name="idPhone" value="{{service.idPhone}}" type="hidden">
          <div class="row mb-3">
              <div class="col">
                <label class="form-label">Marca<span class="text-secondary">(*)</span></label>
                <input name="marca" type="text" value="{{service.marca}}" class="form-control">
              </div>
              <div class="col">
                <label class="form-label">Modelo<span class="text-secondary">(*)</span></label>
                <input name="model" type="text" value="{{service.model}}" class="form-control">
              </div>
              <div class="col">
                <label class="form-label">Contraseña</label>
                <input name="password" type="text" value="{{service.password}}" class="form-control" >
              </div>
              <div class="col">
                <label class="form-label">Pin de Seguridad</label>
                <input name="pin" type="text" value="{{service.pin}}" class="form-control" >
              </div>
              <div class="col">
                <label class="form-label">Patron </label>
                <input name="patron" type="text" value="{{service.patron}}" class="form-control" >
              </div>
              <div class="col">
                <img src="/img/matriz3x3_demo.gif" class="rounded" alt="..." width="130">
              </div>
          </div>
          <div class="row-7 mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Estado del celular<span class="text-secondary">(*)</span></label>
              <input name="state" type="text" value="{{service.state}}" class="form-control">
    
          </div>
          <hr class="dropdown-divider">
          <hr class="dropdown-divider">
          <h5 class="">Info Reparacion</h5>
          <div class="row mb-3">
            <div class="col">
              <label for="exampleFormControlTextarea1" class="form-label">Diagnostico de la reparacion<span class="text-secondary">(*)</span></label>
              <input name="diagnostic" type="text" value="{{service.diagnostic}}" class="form-control">
              
            </div>
            <div class="col-6">
              <div class="row mb-3">
                <div class="col">
                  <label class="form-label">Fecha Ingreso <span class="text-secondary">(*)</span> </label>
                  <input type="text" class="form-control" value="{{service.startDate | date('D/M/Y')}}" disabled >
                </div>
                <div class="col">
                  <label class="form-label">Fecha Aprox. de Entrega<span class="text-secondary">(*)</span> </label>
                  <input type="text" class="form-control" value="{{service.estimateDate | date('D/M/Y')}}" disabled>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2">
              <div class="mb-3">
                <label class="form-label">Costo Total<span class="text-secondary">(*)</span></label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text">$</span>
                    <input name="costService" type="text" class="form-control" placeholder="pesos" value="{{service.costService}}">
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="mb-3">
                <label class="form-label">Anticipo<span class="text-secondary">(*)</span></label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" placeholder="pesos" value="{{service.cost}}" disabled>
                </div>
              </div>
            </div>
            <div class="col-2">
              <label class="form-label">Estado<span class="text-secondary">(*)</span></label>
              {% if service.idState == 1 %}
                <select name="stateService" class="form-select" >
                  <option selected value="1">En Proceso</option>
                  <option value="2">En Demora</option>
                  <option value="3">Pendiente de Entrega</option>
                </select>
              {% elif service.idState == 2 %}
                <select name="stateService" class="form-select" >
                  <option value="1">En Proceso</option>
                  <option selected value="2">En Demora</option>
                  <option value="3">Pendiente de Entrega</option>
                </select>
              {% elif service.idState == 3 %}
                <select name="stateService" class="form-select" >
                  <option value="1">En Proceso</option>
                  <option value="2">En Demora</option>
                  <option selected value="3">Pendiente de Entrega</option>
                </select>
              {% endif %}
            </div>
            <div class="col">
              <label for="exampleFormControlTextarea1" class="form-label">Descripcion del estado<span class="text-secondary">(*)</span></label>
              <textarea name="description" placeholder="Ejemplo: las razones porque se encuentra en demora" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="row">
              <div class="col mt-4 mx-3 form-check ">
                <input name="notify" class="form-check-input" type="checkbox" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Notificar al Cliente via WhatsApp
                </label>
              </div>
              <div class="col mt-4 ">
              </div>
            </div>
            
          </div>
          <div class="row mb-3 row-cols-auto">
            <div class="col">
              <div class="mt-3 pt-1">
                <button class="btn btn-warning btn-lg">Modificar</button>
              </div>
            </div>
            <div class="col">
              <div class="mt-3 pt-1">
                <a class="btn btn-secondary btn-lg" href="/mostrar-servicios" role="button">Cancelar</a>
              </div>
            </div>
          </div>
      </form>
  </div>

{% endblock %}

                
