{% extends "base.html" %}

{% block estilos %} 
<style>
        
    .table-responsive {
        padding: 50px 100px;
        
    }
    .table-wrapper {
        min-width: 800px;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-radius: 10px;
    }
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
        min-width: 100%;
    }
    .table-title h2 {
        margin: 4px 0 0;
        font-size: 22px;
    }
    .search-box {
        position: relative;        
        float: right;
    }
    .search-box input {
        height: 34px;
        border-radius: 20px;
        padding-left: 35px;
        border-color: #ddd;
        box-shadow: none;
    }
    .search-box input:focus {
        border-color: #3FBAE4;
    }
    .search-box i {
        color: #a0a5b1;
        position: absolute;
        font-size: 19px;
        top: 8px;
        left: 10px;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }
    table.table-striped.table-hover tbody tr:hover {
        background: #f5f5f5;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table td:last-child {
        width: 160px;
    }
    table.table td a {
        color: #a0a5b1;
        display: inline-block;
        margin: 0 5px;
    }
    table.table td a.view {
        color: #03A9F4;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #E34724;
    }
    table.table td a.comprobant1 {
        color: #32983c;
    }
    table.table td a.comprobant {
        color: #523394;
    }
    table.table td i {
        font-size: 19px;
    }    
    .pagination {
        float: right;
        margin: 0 0 5px;
    }
    .pagination li a {
        border: none;
        font-size: 95%;
        width: 30px;
        height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 30px !important;
        text-align: center;
        padding: 0;
    }
    .pagination li a:hover {
        color: #666;
    }	
    .pagination li.active a {
        background: #03A9F4;
    }
    .pagination li.active a:hover {        
        background: #0397d6;
    }
    .pagination li.disabled i {
        color: #ccc;
    }
    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }
    .hint-text {
        float: left;
        margin-top: 6px;
        font-size: 95%;
    }    
    </style>
{% endblock %} 

{% block menu %}
<a class="nav-link text-white-50" aria-current="page" href="#">Inicio <i class="fa-solid fa-angle-right mx-2"></i> Pagos<i class="fa-solid fa-angle-right mx-2"></i> Ver Pagos</a>

{% endblock %}

{% block content %}
<!-- Contenedor -->
                  
    <section class="">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-4"><h2>Registro de <b>Pagos</b></h2></div>
                        <div class="col-sm-2">
                            <!--  <a class="btn btn-success" href="/pages/servicios" role="button"><i class="fa-solid fa-plus" style="margin-right: 5px;"></i>Nuevo</a>-->
                        </div>
                        <div class="col-sm-4">
                            <div class="d-flex">
                                <div class="search-box mx-1">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <input type="text" class="form-control" placeholder="Search&hellip;">
                                </div>
                                <select class="form-select" aria-label="Default select example" name="filtro" style="width: 100px;">
                                    <option value="idPayment">Codigo</option>
                                    <option value="name">Cliente</option>
                                    <option value="marca">Celular</option>
                                    <option value="date">Fecha</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-info" href="#" role="button"><i class="fa-solid fa-magnifying-glass mx-1"></i>Buscar</a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Codigo<i class="fa-solid fa-sort"></i></th>
                            <th>Cliente</th>
                            <th>Celular</th>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th>Observacion</th>
                            <th>Codigo Servicio<i class="fa-solid fa-sort"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payments %}
                        <tr>
                            <td>{{payment.idPayment}}</td>
                            <td>{{payment.name}} {{payment.surname}}</td>
                            <td>{{payment.marca}} {{payment.model}}</td>
                            <td>{{payment.date | date("D/M/Y")}}</td>
                            <td>${{payment.cost}}</td>
                            {% if payment.typePayment == 1 %} 
                            <td>Pago del Anticipo</td>
                            {% elif payment.typePayment == 2 %}
                            <td>Pago Saldo restante para Entrega</td>
                            {% endif %}
                            <td>{{payment.idService}}  <a href="#" class="view" title="Ver" data-toggle="tooltip"><i class="fa-solid fa-eye"></i></a></td>
                            
                        </tr>
                        {% endfor %}
                       
                    </tbody>
                </table>
                
            </div>
        </div> 
    </section>

{% endblock %}