{% extends "base.html" %}

{% block estilos %} 
<style>
        
    .table-responsive {
        padding: 50px 30px;
        
    }
    .table-wrapper {
        min-width: 1000px;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-radius: 10px;
    }
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
        min-width: 100%;
    }
    .table-title h2 {
        margin: 4px 0 0;
        font-size: 22px;
    }
    .search-box {
        position: relative;        
        float: right;
    }
    .search-box input {
        height: 34px;
        border-radius: 20px;
        padding-left: 35px;
        border-color: #ddd;
        box-shadow: none;
    }
    .search-box input:focus {
        border-color: #3FBAE4;
    }
    .search-box i {
        color: #a0a5b1;
        position: absolute;
        font-size: 19px;
        top: 8px;
        left: 10px;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }
    table.table-striped.table-hover tbody tr:hover {
        background: #f5f5f5;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table td:last-child {
        width: 150px;
    }
    table.table td a {
        color: #a0a5b1;
        display: inline-block;
        margin: 0 5px;
    }
    table.table td a.view {
        color: #03A9F4;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #E34724;
    }
    table.table td a.comprobant1 {
        color: #32983c;
    }
    table.table td a.comprobant {
        color: #523394;
    }
    table.table td i {
        font-size: 19px;
    }    
    .pagination {
        float: right;
        margin: 0 0 5px;
    }
    .pagination li a {
        border: none;
        font-size: 95%;
        width: 30px;
        height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 30px !important;
        text-align: center;
        padding: 0;
    }
    .pagination li a:hover {
        color: #666;
    }	
    .pagination li.active a {
        background: #03A9F4;
    }
    .pagination li.active a:hover {        
        background: #0397d6;
    }
    .pagination li.disabled i {
        color: #ccc;
    }
    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }
    .hint-text {
        float: left;
        margin-top: 6px;
        font-size: 95%;
    }    
    </style>
{% endblock %} 

{% block menu %}
<a class="nav-link text-white-50" aria-current="page" href="#">Inicio <i class="fa-solid fa-angle-right mx-2"></i> Servicio de Reparaciones <i class="fa-solid fa-angle-right mx-2"></i> Registrar Servicio de Reparacion </a>

{% endblock %}

{% block content %}

<!-- Contenedor -->
<!-- <div class="container-fluid py-3" style="min-height: 664px; background-image:linear-gradient(120deg, rgba(73, 73, 73, 0.699) 0%, rgba(0, 0, 0, 0.692) 100%), url(https://eldiariony.com/wp-content/uploads/sites/2/2022/01/anciana-reparacion-celular-hablar-hijos-shutterstock_1907032345.jpg?quality=60&strip=all&w=1200); background-size: cover;"> -->
  <div class="container py-3 bg-white " style="width: 95%;border-radius: 15px;">
    <h3 class="p-1">Registrar Servicio</h3>
    <form action="/buscar_cliente" class="m-2" method="post">
      <div class="row my-4">

        <div class="col-sm-4">
            <div class="d-flex">
              <label class="form-label" style="width: 150px;"> Cliente asociado<span class="text-secondary">(*)</span></label>
                <!-- <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" class="form-control" placeholder="Search&hellip;"> -->
                <div class="search-box mx-1" style="width: 310px;">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input name="dni" type="text" class="form-control" placeholder="Ingrese DNI&hellip;">
                </div>
            </div>
        </div>
        <div class="col-1">
            <button class="btn btn-info"><i class="fa-solid fa-magnifying-glass mx-1"></i>Buscar</button>
        </div>
        <div class="col-2">
          <a class="btn btn-success" href="registrar-usuario.html" role="button"><i class="fa-solid fa-plus"></i>Nuevo</a>
        </div>
      </div>
    </form>

    {% if error %}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>El Cliente no existe!</strong> Por favor registre un nuevo cliente.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endif %}

    <form action="/registrar_servicio" class="m-2" method="post">
      <hr class="dropdown-divider">
      <h5 class="">Datos del Cliente</h5>
    
      <div class="row my-3">
          
          <div class="col">
            <label class="form-label">Nombre</label>
            <input name="name" value="{{client.name}}" type="text" class="form-control" disabled>
          </div>
          <div class="col">
            <label class="form-label">Apellido</label>
            <input value="{{client.surname}}" type="text" class="form-control" disabled>
          </div>
          <div class="col">
            <label class="form-label">DNI</label>
            <input value="{{client.dni}}" type="text" class="form-control" disabled>
          </div>
          <div class="col">
            <label class="form-label">Número de Contacto</label>
            <input value="{{client.contact}}" type="text" class="form-control" disabled>
          </div>
          <div class="col">
            <label class="form-label">Número de Respaldo</label>
            <input value="{{client.backup}}" type="text" class="form-control" disabled>
          </div>
      </div>
      
      



      <hr class="dropdown-divider">
      <h5 class="">Datos Celular</h5>
      
      <div class="row my-3">
          <div class="col">
            <label class="form-label">Marca<span class="text-secondary">(*)</span> </label>
            <input name="idClient" value="{{client.idClient}}" type="hidden" class="form-control">
            <input name="marca" type="text" class="form-control">
          </div>
          <div class="col">
            <label class="form-label">Modelo<span class="text-secondary">(*)</span> </label>
            <input name="model" type="text" class="form-control" >
          </div>
          <div class="col">
            <label class="form-label">Contraseña<span class="text-secondary">(Opcional)</span> </label>
            <input name="password" type="text" class="form-control" >
          </div>
          <div class="col">
            <label class="form-label">Pin de Seguridad <span class="text-secondary">(Opcional)</span> </label>
            <input name="pin" type="text" class="form-control" >
          </div>
          <div class="col">
            <label class="form-label">patron<span class="text-secondary">(Opcional)</span> </label>
            <input name="patron" type="text" class="form-control" >
          </div>
          <div class="col">
            <img src="/img/matriz3x3_demo.gif" class="rounded" alt="..." width="130">
          </div>
      </div>
      <div class="row-7 mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Estado del celular<span class="text-secondary">(*)</span></label>
          <textarea name="state" placeholder="Ejemplo: si el celular está roto en alguna zona, si fué abierto o si se encuentra mojado" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <hr class="dropdown-divider">
      <hr class="dropdown-divider">
      <h5 class="">Info Reparacion</h5>
      <div class="row mb-3">
        <div class="col">
          <label for="exampleFormControlTextarea1" class="form-label">Diagnostico de la reparacion<span class="text-secondary">(*)</span></label>
          <textarea name="diagnostic" placeholder="Falla a reparar. Por Ejemplo: si el modulo roto, pin de carga no funciona" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col-6">
          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Fecha de Ingreso<span class="text-secondary">(*)</span> </label>
              <input name="startDate" type="text" class="form-control" value="{{fecha | date('D/M/Y')}}" disabled >
            </div>
            <div class="col">
              <label class="form-label">Fecha Aprox. de Entrega<span class="text-secondary">(*)</span> </label>
              <input name="estimateDate" type="date" class="form-control" >
            </div>
            <!-- <div class="col">
              <label class="form-label">Fecha Entrega<span class="text-secondary">()</span> </label>
              <input type="date" class="form-control" >
            </div> -->
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-2">
          <div class="mb-3">
            <label class="form-label">Costo Reparacion<span class="text-secondary">(*)</span></label>
            <div class="input-group flex-nowrap">
                <span class="input-group-text">$</span>
                <input name="costService" type="text" class="form-control" placeholder="pesos">
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="mb-3">
            <label class="form-label">Anticipo<span class="text-secondary">(*)</span></label>
            <div class="input-group flex-nowrap">
                <span class="input-group-text">$</span>
                <input name="cost" type="text" class="form-control" placeholder="pesos">
            </div>
          </div>
        </div>
        <div class="col-2">
          <input name="stateService" value="1" type="hidden" class="form-control" placeholder="pesos">
        </div>
        <!-- <div class="col">
          <label for="exampleFormControlTextarea1" class="form-label">Descripcion del estado</label>
          <textarea name="comment" placeholder="Ejemplo: las razones porque se encuentra en demora" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> -->
        <!-- <div class="row mb-3">
          <div class="mt-3 pt-1">
            <a class="btn btn-primary btn-lg" href="mostrar-servicios.html" role="button">Guardar</a>
          </div>
        </div> -->
        <div class="row mb-3">
            <div class="col-1">
                <div class="mt-3 pt-1">
                    <button class="btn btn-primary btn-lg">Guardar</button>
                </div>
            </div>
            <div class="col mx-4">
              <div class="mt-3 pt-1">
                <a class="btn btn-secondary btn-lg" href="/pages/home" role="button">Cancelar</a>
              </div>
            </div>
        </div>
     
    </form>
</div>


<!-- </div> -->
{% endblock %}